on:
  push:
    tags:
      - "akashic-engine@*"

name: Release and Upload Assets

env:
  NODE_VERSION: 18

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          package-manager-cache: false # トリガーがpush:tags:の場合、キャッシュポイズニング攻撃のリスクがあるため、npm等のパッケージマネージャーのキャッシュを明示的に無効化する
      - name: Install project
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Bundle project
        run: zip -r bundle.zip dist/
      - name: Create Release and Upload Assets
        run: |
          gh release create ${CURRENT_TAG} \
            --title "Release ${CURRENT_TAG}" \
            --generate-notes \
            ./bundle.zip \
            dist/akashic-engine-standalone-*.js
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CURRENT_TAG: ${{ github.ref }}
