name: Update internal modules

on:
  schedule:
    # everyday 00:00 (UTC+9)
    - cron: "0 15 * * *"

env:
  NODE_VERSION: 18

permissions:
  contents: write
  pull-requests: write

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Update internal modules
        run: |
          npx npm-check-updates -f "@akashic*" -t minor -u
      - name: Get version of @akashic/akashic-engine
        id: version
        run: |
          echo "LATEST_VERSION=$(cat package.json | jq -r '.dependencies["@akashic/akashic-engine"]')" >> $GITHUB_OUTPUT
      - name: Install and Build
        run: |
          npm install
          npm version ${STEPS_VERSION_OUTPUTS_LATEST_VERSION} --allow-same-version --no-git-tag-version
          npm run build
        env:
          STEPS_VERSION_OUTPUTS_LATEST_VERSION: ${{ steps.version.outputs.LATEST_VERSION }}
      - name: Get workflow url
        id: workflow
        run: echo "WORKFLOW_URL=$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" >> $GITHUB_OUTPUT
      - name: Archive artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: output_${{ steps.version.outputs.LATEST_VERSION }}
          path: ./dist
      - name: Get diff files
        id: diff
        run: |
          echo "count=$(git diff --name-only | wc -l)" >> $GITHUB_OUTPUT
      - name: Create Commit and Pull Request
        if: 2 <= steps.diff.outputs.count # package.json, package-lock.json
        run: |
          BRANCH_NAME="update_akashic_engine/${LATEST_VERSION}"
          git checkout -b "${BRANCH_NAME}"
          git config user.name 'github-actions'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add -A
          git commit -m "Update to ${LATEST_VERSION}"
          git push origin "${BRANCH_NAME}"
          PR_TITLE="update to akashic-engine@${LATEST_VERSION}"
          PR_BODY=$(printf '# このPullRequestが解決する内容\nakashic-engine を %s に更新します。\n## 動作確認方法\n[こちら](%s) から **output_%s.zip** をダウンロードして、手元で実行できるかを確認してください。' "${LATEST_VERSION}" "${WORKFLOW_URL}" "${LATEST_VERSION}")
          gh pr create --title "${PR_TITLE}" --body "${PR_BODY}" --base "${CURRENT_BRANCH}" --head "${BRANCH_NAME}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LATEST_VERSION: ${{ steps.version.outputs.LATEST_VERSION }}
          CURRENT_BRANCH: ${{ github.ref_name }}
          WORKFLOW_URL: ${{ steps.workflow.outputs.WORKFLOW_URL }}
